html {
	font-family: 'Cardo', serif;
	font-size: 20px;
	line-height: 24px;
	margin: 0px;
	background-color: #f2f7ff;
	color: #0055c4;
}

body {
	margin: 24px;
	padding: 0px;
}

a,
a:visited,
a:hover,
a.active, a.active:hover,
a:link {
	color: #0055c4;
	text-decoration: none;
	border-bottom: #0055c4 solid 3px;
}

li, ol {
	list-style-type: none;
	padding-left: 0px;
}

li {
	line-height: 28px;
	margin-bottom: 10px;
}

p {
	padding-top: 0px;
	margin-top: 0px;
}

#top {
	position: relative;
	float: left;
	width: 420px;
	padding: 24px;
}

#image {
	float: left;
	width: 460px;
	height: 541px;
}

#image span {
	font-size: 50%;
	font-style: italic;
	padding-left: 30px;
}

#image a {
	border-bottom: #0055c4 solid 1px;
}

#contact {
	position: absolute;
	bottom: 20px;
	right: 10px;

	height: 120px;
	width: 130px;
	border-radius: 70px;
	padding: 30px;
	padding-top: 40px;

	font-family: 'Bangers', cursive;
	text-align: center;
	color: #1E2126;

	transform: rotate(-10deg);

	background: url(burst.png);
	background-size: contain;
}

#footer {
	clear: both;
	height: 50px;
}

@media only screen and (max-width: 1010px) {
  body {
		width: 480px;
  }
}
